
#welcome {
    width: 550px;
    height: 150px;
    text-align: center;
    margin-left: 550px;
    color: black;
    font-size: 25px;
    opacity: .3;
    display: inline-block;
}

#side-nav {
    width: 200px;
    height: 325px;
    float: left;
}

#side-nav-list {
    margin-top: 25px;
    list-style: none;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#side-nav-list li {
    /* border-bottom: 1px solid black; */
    text-align: center;
    padding: 10px 5px;
}

#side-nav-list li:hover {
    border-bottom: 1px solid rgb(250, 107, 107);
    color: rgb(250, 107, 107);
}

#side-nav-list a:hover {
    text-decoration: none;
    color: rgb(250, 107, 107);
}