#picture_id {
    width: 200px;
    height: 200px;
    margin:0px;
    padding: 0px;
    border-radius: 80px;
    display: inline;
}

#picture_id:hover {
   width: 220px;
   height: 220px;
}

html {
    background:linear-gradient(to left,yellow,green,yellow);
    background-size: 400% 400%;
    animation: gradient 40s ease infinite;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#overall_container {
    width: 900px;
    height: 80vh;
    padding-left: 200px;
    
}

#cv_container{
    border: 1px solid gray;
    padding: 15px;
}

#info {
    padding-left: 50px;
    display: inline;
    font-size: 20px;
}